extends layout.pug

block content
    div.row.justify-content-center
        div.col-md-4
            div.card-body.border
                a.btn.btn-success.btn-block(href="/supervisorregistration") Register Supervisor 
                a.btn.btn-danger.btn-block(href="/supervisordashboard") Remove Supervisor 
                a.btn.btn-success.btn-block(href="/sitterregistration") Register Sitter 
                a.btn.btn-danger.btn-block(href="/sitterdashboarddb") Remove Sitter 
                a.btn.btn-secondary.btn-block(href="/officialdashboard") View Customer Details
                a.btn.btn-primary.btn-block(href="/officiallogout") Logout

    
        div.col-md-7
            div.card-body.border
                table.table
                    thead.thead-dark
                        tr
                            th First Name
                            th Last Name
                            th User Name
                            th Email Address
                            th Physical Address
                            th Gender
                        
                        tbody
                            each user in users
                                tr 
                                    td #{user.supervisorfirstname}  
                                    td #{user.supervisorlastname}
                                    td #{user.supervisorusername}
                                    td #{user.supervisoremailaddress}
                                    td #{user.supervisorphysicaladdress}
                                    td #{user.supervisorgender}
                                        td
                                            form(method="post" action='/supervisordashboard/delete')
                                                input(type="hidden", placeholder="", name="id", value=user._id)
                                                button.remove-doc.btn.btn-danger.col-xs-12(data-id="#{user.id}") Delete
                                        